// Colors
$color-white: #fff;
$color-gray: #e9ebee;
$color-black: #030303;
$color-footer: #b9b9b9;
$color-red: #f01e1e;
$color-blue: #4267b2;
$color-blue: #0C428D;

$color-dark-blue: #0d438d;
$color-light-blue: #5fa0fa;
$color-yellow: #f8c12c;
$color-base: #030303;
$color-logo-text: #8c8c8c;

// Fonts

$font-slab: 'Josefin Slab', serif;
$font-unica: 'Unica One', cursive;
$font-anonymous: 'Anonymous Pro', monospace;
$font-major: 'Major Mono Display', monospace;
$font-arsenal: 'Arsenal', sans-serif;

// Path
$path-img: '../img/';